In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
927,tt0287717,38000000,119723358,Spy Kids 2: Island of Lost Dreams,Antonio Banderas|Carla Gugino|Alexa PenaVega|D...,Robert Rodriguez,Little Spies. Big Attitudes,Exploring the further adventures of Carmen and...,100,Action|Adventure|Comedy|Family,Dimension Films,8/7/2002,5.2,2002
1866,tt0160797,60000000,71000000,Rules of Engagement,Tommy Lee Jones|Samuel L. Jackson|Guy Pearce|B...,William Friedkin,A hero should never have to stand alone.,"Part war movie, part courtroom thriller, this ...",128,Action|Adventure|Drama|History|War,Paramount Pictures|Seven Arts Pictures|Munich ...,4/7/2000,5.8,2000
1510,tt0401445,35000000,42064105,A Good Year,Russell Crowe|Marion Cotillard|Albert Finney|T...,Ridley Scott,Everything matures... eventually.,Failed London banker Max Skinner inherits his ...,118,Comedy|Drama|Romance,Fox 2000 Pictures|Scott Free Productions,9/9/2006,6.4,2006
1234,tt2364841,30000000,62616646,Runner Runner,Ben Affleck|Gemma Arterton|Justin Timberlake|A...,Brad Furman,The house always wins.,When a poor college student who cracks an onli...,91,Crime|Thriller|Drama,20th Century Fox|Double Feature Films|Appian W...,9/24/2013,5.5,2013
455,tt1020558,12000000,6814789,Centurion,Michael Fassbender|Olga Kurylenko|David Morris...,Neil Marshall,History is written in blood,"Britain, A.D. 117. Quintus Dias, the sole surv...",97,Drama|Action|Thriller,PathÃ© Pictures International|UK Film Council|...,2/15/2010,5.7,2010

In [8]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data.revenue - data.budget
def countFreq(s):
    ganreList = []
    for x in s:
        for xl in x:
            ganreList.append(xl)
    return Counter(ganreList).most_common(1)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [58]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [55]:
# тут пишем ваш код для решения данного вопроса:
data[['original_title', 'imdb_id', 'budget']].sort_values(by=['budget'], ascending=False).head(1)

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

ВАРИАНТ 2

In [15]:
# можно добавлять разные варианты решения
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [59]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [60]:
data.sort_values(by=['runtime'], ascending = False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [62]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [61]:
data.sort_values(by=['runtime']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [69]:
answers['4'] = '110'

In [66]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [68]:
answers['5'] = '107'

In [67]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [78]:
answers['6'] = '239. Avatar (tt0499549)'

In [93]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.sort_values(by='profit', ascending = False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [79]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [6]:
data['profit'] = data.revenue - data.budget
data.sort_values(by='profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [82]:
answers['8'] = '1478'

In [81]:
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [109]:
answers['9'] = '599. The Dark Knight (tt0468569)'

In [8]:
data2008 = data[data.release_year == 2008]
data2008.sort_values(by='revenue', ascending = False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

ВАРИАНТ 2

In [11]:
data.query('release_year == 2008').query('revenue == revenue.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

ВАРИАНТ 3

In [13]:
data[data.revenue == data.revenue[data.release_year==2008].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [108]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [17]:

data12_14=data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data12_14.sort_values(by='profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

ВАРИАНТ 2

In [19]:
data[data.profit == data.profit[(data.release_year >= 2012) & (data.release_year <= 2014)].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [169]:
answers['11'] = 'Drama'

In [78]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
s = data['genres'].str.split('|')
countFreq(s)

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [170]:
answers['12'] = 'Drama'

In [201]:
onlyProfit = data[data.profit >= 0]
s1 = onlyProfit['genres'].str.split('|')
countFreq(s1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [171]:
answers['13'] = 'Peter Jackson'

In [199]:
directors = data[['director', 'revenue']]
directors.groupby(by = 'director')['revenue'].sum().sort_values().tail(1).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [112]:
answers['14'] = 'Robert Rodriguez'

In [198]:
action_dir = data[data['genres'].str.contains('Action')]
Counter(action_dir.director.str.cat(sep='|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [112]:
answers['15'] = 'Chris Hemsworth'

In [196]:
data2 = data[data['release_year'] == 2012].copy()
data2['actors'] = data2.cast.str.split('|')
d3 = data2.explode('actors')
d3.groupby(by = 'actors')['revenue'].sum().sort_values().tail(1).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [112]:
answers['16'] = 'Matt Damon'

In [195]:
data_high_b = data[data.budget > data.budget.mean()].copy()
data_high_b['actors'] = data_high_b.cast.str.split('|')
d4 = data_high_b.explode('actors')
d4.groupby(by = 'actors')['actors'].count().sort_values().tail(1).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [173]:
answers['17'] = 'Action'

In [194]:
nC = data[data['cast'].str.contains('Nicolas Cage')].copy()
nC['style'] = nC.genres.str.split('|') 
nC1 = nC.explode('style')
nC1.groupby(by = 'style')['cast'].count().sort_values().tail(1).index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [181]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

In [180]:
pp = data[data['production_companies'].str.contains('Paramount Pictures')].copy()
pp[pp.profit == pp.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [189]:
answers['19'] = '2015'

In [193]:
data.groupby(by = 'release_year')['revenue'].sum().sort_values().tail(1).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [190]:
answers['20'] = '2014'

In [192]:
wb = data[data['production_companies'].str.contains('Warner Bros')].copy()
wb.groupby(by = 'release_year')['profit'].sum().sort_values().tail(1).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [256]:
answers['21'] = 'Сентябрь'

In [249]:
data[['month', 'day', 'year']] = data.release_date.str.split('/', expand = True, )
data.groupby(by = 'month')['original_title'].count().sort_values().tail(1)

month
9    227
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [257]:
answers['22'] = '450'

In [255]:
len(data[(data.month == '6') | (data.month == '7') | (data.month == '8')])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [257]:
answers['23'] = 'Peter Jackson'

In [271]:
data
dataD = data[(data.month == '11') | (data.month == '12') | (data.month == '1')].copy()
dataD['directors'] = dataD.director.str.split('|')
dataD = dataD.explode('directors')
dataD.groupby(by = 'directors')['original_title'].count().sort_values().tail(1)

directors
Peter Jackson    8
Name: original_title, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [296]:
answers['24'] = 'Four By Two Productions'

In [5]:
data['titleLength'] = data.original_title.str.len()
data['studio'] = data.production_companies.str.split('|')
data = data.explode('studio')
data.groupby(by = 'studio')['titleLength'].mean().sort_values().tail(1).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [9]:
answers['25'] = 'Midnight Picture Show'

In [8]:
data['overLength'] = data.overview.str.len()
data.groupby(by = 'studio')['overLength'].mean().sort_values().tail(1).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [6]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)